@font-face {
  font-family: "iconfont"; /* Project id 3560556 */
  src: url('iconfont.woff2?t=1660185038642') format('woff2'),
       url('iconfont.woff?t=1660185038642') format('woff'),
       url('iconfont.ttf?t=1660185038642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e6e0";
}

.icon-voice_none:before {
  content: "\eca8";
}

.icon-airdrop:before {
  content: "\e927";
}

.icon-Prev:before {
  content: "\e627";
}

.icon-Next:before {
  content: "\e628";
}

.icon-music_menu:before {
  content: "\e656";
}

.icon-tushu:before {
  content: "\e600";
}

.icon-yinlemusic217:before {
  content: "\e713";
}

.icon-calendarrili:before {
  content: "\e729";
}

.icon-paihangbang:before {
  content: "\e782";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-xianchangzhibo:before {
  content: "\e65b";
}

.icon-wodeguanzhu:before {
  content: "\e616";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-a-tupianyihuifu-05:before {
  content: "\e604";
}

